<!-- Footer -->
<link rel="stylesheet" type="text/css" href="/css/theme.css">
<footer class=" footer page-footer font-small bg-light">
    

    <!-- Copyright -->
    <div class="card-footer bg-cream text-center">SI PENDUDUK & UMKM 2022 </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->