<style>
  .nav-link:hover{
    background-color: gray;
  }
</style>

<div class="col-md-2 bg-dark mt-2 pt-4 ps-6">
  <ul class="nav flex-column me-3 mb-5 ">
    <li class="nav-item">
      <a class="nav-link active text-white" aria-current="page" href="/dashboard/main-admin">
        <i class="fa-solid fa-desktop ms-2"></i>&nbsp&nbspDashboard</a><hr  class="bg-secondary">
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false">  <i class="fa-solid fa-users ms-2"></i>&nbsp&nbspData Penduduk</a><hr  class="bg-secondary">
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/data/data-penduduk">Data Penduduk</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/data/data-keluarga">Data Keluarga</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/data/data-masuk">Data Masuk</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/data/data-pindah">Data Pindah</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/data/data-kelahiran">Data Kelahiran</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/data/data-kematian">Data Kematian</a></li>
        
        </ul>
    </li>
    <li class="nav-item ">
      <a class="nav-link text-white" href="/data/data-umkm">
        <i class="fa-solid fa-cart-shopping ms-2"></i>&nbsp&nbspData UMKM</a><hr  class="bg-secondary">
        
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-chart-line ms-2"></i>&nbsp&nbspStatistik Penduduk</a><hr  class="bg-secondary">
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/statistik/statistik-umur">Statistik Umur</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/statistik/statistik-pekerjaan">Statistik Pekerjaan</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/statistik/statistik-jeniskelamin">Statistik Jenis Kelamin</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/statistik/statistik-pendidikan">Statistik Pendidikan</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/statistik/statistik-status">Statistik Status Pernikahan</a></li>
          
        
        </ul>
    </li> 
    <li class="nav-item">
      <a class="nav-link text-white" href="/statistik/statistik-umkm">
        <i class="fa-solid fa-chart-line ms-2"></i>&nbsp&nbspStatistik UMKM</a><hr  class="bg-secondary">
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" aria-current="page" href="/dashboard/pengguna">
        <i class="fa-solid fa-user ms-2"></i>&nbsp&nbspPengguna</a><hr  class="bg-secondary">
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="/dashboard/publikasi">
        <i class="fa-solid fa-book ms-2"></i>&nbsp&nbspPublikasi</a><hr  class="bg-secondary">
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="fa-solid fa-arrow-right-from-bracket ms-2"></i>&nbsp&nbspKeluar</a><hr  class="bg-secondary">
    </li>

    
  </ul>
</div>