<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/Admin Panel Kelurahan Oetete/src/style/admin.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <link rel="icon" href="/public/favicon.ico">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Statistik Status</title>

</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js"
    integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <!-- header start -->
    <%- include('header'); -%>
        <!-- header end   -->

        <style>
            .nav-link:hover {
                background-color: gray;
            }
        </style>

        <div class="row g-0 mt-5">
            <!-- header start -->
            <%- include('sidebar'); -%>
                <!-- header end   -->
                <div class="col-md-10 p-5 pt-5">
                    <h3><i class="fa-solid fa-dove"></i>&nbsp&nbspSTATISTIK STATUS PERNIKAHAN</h3>
                    <hr>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary" type="button" onclick="switchType();"><i class="fa-solid fa-chart-column"></i>&nbspUbah
                            grafik</button>
                    </div>
                    <div class="container-fluid " style="width:400px ;">
                        <canvas id="Status-Chart"></canvas>
                    </div>

                    <!-- First Row -->
                    <table id="dtHorizontalVerticalExample" class="table table-striped table-bordered table-sm "
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">No</th>
                                <th scope="col" class="text-center">Sudah Menikah</th>
                                <th scope="col" class="text-center">Belum Menikah</th>
                                <th scope="col" class="text-center">Cerai Hidup</th>
                                <th scope="col" class="text-center">Cerai Mati</th>
                                <th scope="col" class="text-center">Jumlah</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row" class="text-center">1</td>
                                <td scope="row" class="text-center">20</td>
                                <td scope="row" class="text-center">20</td>
                                <td scope="row" class="text-center">2</td>
                                <td scope="row" class="text-center">23</td>
                                <td scope="row" class="text-center">5</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card bg-light ms-md-auto mt-4 border-4 " style="width: 10rem; height: 8rem;">
                        <div class="card-body">
                        <div class="card-body-icon" style="position: absolute; z-index: 0; top: 25px; right: 4px; opacity:0.4 ; font-size: 60px;"><img src="https://img.icons8.com/ios-filled/50/000000/sigma.png"/></div>
                        <h6 class="card-title" style="font-size: 15px ;">TOTAL KESELURUHAN</h6>
                        <div class="display-4" style="font-weight:bold ; font-size:50px ;">2</div>
                        </div>
                    </div>  
                </div>

                <!-- footer start -->
                <%- include('footer'); -%>
                    <!-- footer end   -->
                    <script>
                        $(document).ready(function () {
                            $('#dtHorizontalVerticalExample').DataTable({
                                "scrollX": true,
                                "scrollY": 200,
                            });
                            $('.dataTables_length').addClass('bs-select');
                        });
                    </script>

                    <script>
                        const labels = ["Sudah Menikah", "Belum Menikah", "Cerai Hidup", "Cerai Mati"];

                        const data = {
                            labels: labels,
                            datasets: [
                                {
                                    label: ["My First dataset"],
                                    backgroundColor: [
                                        "#C84B31",    
                                        "#ECDBBA",
                                        "#2D4263",
                                        "#1E5128"
                                    ],

                                    data: [2,10,50,20],
                                    hoverOffset: 4,
                                },
                            ],
                        };

                        const config = {
                            type: "pie",
                            data: data,
                            options: {
                                plugins: {
                                    title: {
                                        display: true,
                                        text: 'Grafik Status Pernikahan'
                                    }
                                }
                            },
                        };

                        const myChart = new Chart(document.getElementById("Status-Chart"), config);

                        axios.get('/statistik/statistik/status').then(e => {
                            console.log(e);
                            myChart.data.datasets[0].data = e.data.data;
                            myChart.update();
                        });

                    </script>

                    <!-- <h1>Hello, world!</h1> -->

                    <!-- Optional JavaScript; choose one of the two! -->

                    <!-- Option 1: Bootstrap Bundle with Popper -->
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                        crossorigin="anonymous"></script>
                        
                    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
                    <!-- Option 2: Separate Popper and Bootstrap JS -->
                    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>