<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tambah Data Penduduk</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- <link rel="icon" href="/public/favicon.ico"> -->
  </head>
  <body>
    <!-- header start -->
    <%- include('header'); -%>
    <!-- header end   -->

    <div class="row g-0 mt-5">
      <!-- header start -->
      <%- include('sidebar'); -%>
      <!-- header end   -->

      <div class="col-md-10 p-5 pt-5">
        <h3>
          <i class="fa-solid fa-users ms-2"></i>&nbsp&nbspTAMBAH DATA MASUK
        </h3>
        <hr />

        <form>
          <div class="form-label">
            <label>Nama</label>
            <input type="text" name="" class="form-control" />
          </div>

          <div class="form-label">
            <label>NIK</label>
            <input type="text" name="" class="form-control" />
          </div>

          <div class="form-label">
            <label>Pilih Jenis Kelamin</label>
            <select class="form-control">
              <option value="">-</option>
              <option value="">Pria</option>
              <option value="">Wanita</option>
            </select>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-label">
                <label>Tempat Lahir</label>
                <input type="text" name="" class="form-control" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-label">
                <label>Tanggal Lahir</label>
                <input type="date" name="" class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-label">
            <label>Pekerjaan</label>
            <input type="text" name="" class="form-control" />
          </div>

          <div class="form-label">
            <label>Kewarganegaraan</label>
            <input type="text" name="" class="form-control" />
          </div>

          <div class="form-label">
            <label>Nomor KK</label>
            <input type="text" name="" class="form-control" />
          </div>

          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            SIMPAN
          </button>
          <a href=""
            ><button type="reset" class="btn btn-danger">RESET</button></a
          >
          <a href="/data/data-masuk"
            ><button type="button" class="btn btn-warning">KEMBALI</button></a
          >
        </form>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Memastikan Data</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Apakah anda sudah memastikan inputan data benar?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Kembali
            </button>
            <button type="button" class="btn btn-primary">Simpan</button>
          </div>
        </div>
      </div>
    </div>

    <!-- footer start -->
    <%- include('footer'); -%>
    <!-- footer end   -->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js"
      integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
